body {
  margin: 0;
  padding: 0;

  height: 2000px;
  background-color: aliceblue;

}

div {
  width: 100px;
  height: 100px;
  font-weight: 700;
  text-align: center; /*수평 중앙*/
  line-height: 100px; /*수직 중앙*/
}

/* .position-static (기본값)
  -inline : 왼쪽 -> 오른쪽 쌓임
  -block : 위 -> 아래 쌓임
*/
.position-static {
  background-color: pink;
}

/* .position-relative (상대 위치) 
  -자신이 원래 있어야 하는 위치 기준 
  -top
  -bottom
  -right
  -left
*/
.position-relative {
  background-color: aquamarine;
  position: relative;
  /* top:100px; */
  left: 200px;
}

/* .position-absolute (절대위치) 
  - 1. relative 값을 갖는 가장 가까운 조상이 있다면, 해당 요소 기준
  - 2. relative 값을 갖는 조상이 없다면, body 태그 기준
  - 기준으로부터 top bottom right left 중에 하나 이상 지정
*/
.position-absolute {
  background-color: gold;
  position: absolute;
  /* top:100px; */
  /* right: -50px; */

}

/* .position-fixed (고정위치) 
  - veiwport 기준으로 특정 위치에 배치
*/
.position-fixed {
  background-color: coral;
  position: fixed;
  bottom: 0;
}