.mainDiv {
  display: flex;
}

.mainDiv > div {
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 1rem;
}


@media (min-width: 700px) {
  .mainDiv {
    flex-direction: column;
  }
  .mainDiv > div {
    background-color: skyblue;
  }
}