<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<form action="./result26.ejs" method="get">
  <fieldset>
    <legend></legend>
    <input type="text" name="radio" id="male">
    <label for="radio"></label>
  </fieldset>

  <fieldset>
    <legend>생년월일</legend>
    <select name="birthYear" id="year">
      <% for (let i = 1990; i <= 2010; i++) %>
      <option value="<%= i %>"> <% =i %> </option>
    </select>
  </fieldset>


</form>


</body>
</html>